.mariajose{
    background-color: #E27FEE;
    
}
.sub
{
    text-align: center;
    color: white;
    background-color: #E27FEE;
    font-size: 100%;
}
.opcion-profesor-estudiante{
    min-height: 40vh;
}
