<!DOCTYPE html>
<html ng-app="universidad">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title> Universidad </title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>
  <script src="js/db.js"></script>
</head>

<body>




  <ion-nav-view></ion-nav-view> <!-- No quitar, por alguna razón todo deja de funcionar sin esto -->
  
  
<!--PAGINA PRINCIPAL -->

  <script id="index.html" type="text/ng-template">
   <ion-header-bar align-title="center" class="bar-positive">
 
  <h1 class="title">EvalATi</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
    <ion-view view-title="Home">
      <ion-content ng-controller="MainController">
      <div class="sub" style="background-color:black"> Menú Principal </div>
      <div class="list">
          <a class="item item-thumbnail-left" href="#/profesor">
            <img src="https://image.freepik.com/free-icon/male-cartoon-pointing-to-white-board_318-44275.png">
            <h2> Menú Profesor </h2>
            <p> Administrador de Evaluaciones </p>
          </a>
          <a class="item item-thumbnail-left" href="#/estudiante">
            <img src="https://cdn3.iconfinder.com/data/icons/school-and-education-2/56/education_icons_IF-02-512.png">
            <h2> Menú Estudiante </h2>
            <p>  Practique, tome  o descargue exámenes </p>
          </a>
        </div>
      </ion-content>
    </ion-view>
  </script>
  
  
  
  
  
  <!-- Vista de Ejemplo -->
  <script id="ejemplo.html" type="text/ng-template">
    <ion-view view-title="Home">
      <ion-content ng-controller="MainController">
        <h1> Saludo </h1>
      </ion-content>
    </ion-view>
  </script>



<!--PROFESOR PRINCIPAL --> 


<script id="profesor.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-positive">
 EvalATi
  <h1 class="title">PROFESOR</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
    <ion-view view-title="Home">
      <ion-content ng-controller="MainController">
      <a class="item item-thumbnail-left" href="#/profesor/crear-evaluacion">
            <img src="https://cdn0.iconfinder.com/data/icons/education-15/500/result-512.png">
            <h2>Crear nueva evaluación  </h2>
            <p> Añadir nueva evluación </p>
          </a>
      
      <a class="item item-thumbnail-left" href="#/profesor/agregar-pregunta">
            <img src="http://eyequant.files.wordpress.com/2013/07/icon-round-question_mark.jpg">
            <h2>Ingresar pregunta  </h2>
            <p> Añadir nueva pregunta  </p>
          </a>
           <a class="item item-thumbnail-left" href="#/profesor">
            <img src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/location-alt-512.png">
            <h2>Activar evaluación en un área </h2>
            <p> Activar una evaluación en un área determinada </p>
          </a>
          
          <a class="item item-thumbnail-left" href="#/profesor">
            <img src=" http://vignette3.wikia.nocookie.net/criminal-case-grimsborough/images/b/b1/Delete_Icon.png/revision/latest?cb=20141216101607">
            <h2>Eliminar evluación</h2>
            <p> Eliminar una evaluación  </p>
          </a>
          
          
       <a class="item item-thumbnail-left" href="#/profesor/crear-evaluacion">
            <img src=" http://i2.wp.com/connectedresearchers.com/wp-content/uploads/2014/11/icon_43189.png">
            <h2>Ver evaluaciones presentadas</h2>
            <p> Ver las evaluaciones que ya han presentado los estudiantes  </p>
          </a>
      </ion-content>
    </ion-view>

</script>


<!--ESTUDIANTE PRINCIPAL -->


<script id="estudiante.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-positive">
 EvalATi
  <h1 class="title">ESTUDIANTE</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
     <ion-view view-title="Estudiante">
      <ion-content ng-controller="MainController">
      
        <div class="list">
        
          <a class="item item-thumbnail-left" href="#/examenes">
            <img src="https://cdn0.iconfinder.com/data/icons/education-15/500/result-512.png">
            <h2> Evaluación Calificada </h2>
            <p>  No hay vuelta atrás una vez lo tome </p>
          </a>
        
        <a class="item item-thumbnail-left" href="#/examenes">
            <img src="https://cdn3.iconfinder.com/data/icons/education-ultimate-set/512/education_exam-512.png">
            <h2> Evaluación  Prueba </h2>
            <p> No afecta la nota </p>
          </a>
        
        <a class="item item-thumbnail-left" href="#/url">
            <img src="https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-029_url_web_address-512.png">
            <h2> Descargar Evaluación por URL</h2>
            <p> Guarda local una evaluación </p>
          </a>
        
        <a class="item item-thumbnail-left" href="#/qr">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/QR_icon.svg/1024px-QR_icon.svg.png">
            <h2>Descargar Evaluación por QR</h2>
            <p> Guarda local una evaluación </p>
          </a>
        </div>

      </ion-content>
    </ion-view>
</script>


<!-- PROFESOR CREAR EVALUACION -->

  
  <script id="creareva.html" type="text/ng-template">
    <ion-header-bar align-title="center" class="bar-positive">
    EvalATi
    <h1 class="title">PROFESOR</h1>
    <div class="buttons">
      <button class="button">Right Button</button>
    </div>
  </ion-header-bar>
      <ion-view view-title="Profesor - Crear nueva evaluación">
        <ion-content ng-controller="MainController">
         <div class="sub"> CREAR EVALUACIÓN</div>
          
         <label class="item item-input item-stacked-label">
          <span class="input-label">NOMBRE</span>
        <input type="text" placeholder="Nombre Evaluación">
          </label>
        </ion-content>
      </ion-view>
  </script>
    
    
    
    
    
<!--PROFESOR AGREGAR PREGUNTA-->

  
  <script id="agregarpregunta.html" type="text/ng-template">
    <ion-header-bar align-title="center" class="bar-positive">
    EvalATi
    <h1 class="title">PROFESOR</h1>
    <div class="buttons">
      <button class="button">Right Button</button>
    </div>
  </ion-header-bar>
      <ion-view view-title="Profesor - Agregar pregunta">
        <ion-content ng-controller="MainController">
         <div class="sub"> AGREGAR PREGUNTA</div>
         <label class="item item-input item-stacked-label">
          <span class="input-label">PREGUNTA</span>
        <input type="text" placeholder="¿  ?">
          </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">PUNTAJE</span>
        <input type="text" placeholder="10">
          </label>
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                TEMA
              </div>
              <select>
                <option ng-repeat = "tem in temas" >{{tem}}</option>
              </select>
            </label>
          
          </div>
          OPCIONES
          <div class="list">
            <div class="item item-input-inset">
            
              <label class="item-input-wrapper"> 
                <input type="text" id="pre" ng-model="preguntaNueva" placeholder="Respuesta">
              </label>
              
              <button class="button button-small" ng-click="agregarPregunta( preguntaNueva ) ">  
                AGREGAR
              </button>
            </div>
            <div>
            <ion-list>
             <ion-radio ng-repeat = "opcion in opcionesPregunta" ng-value="opcion.opcion" ng-model="correcta" value="correcta">{{opcion.opcion}}</ion-radio>
            </ion-list>
            </div>
          
          </div>
          <a class="button icon-right ion-chevron-right button-positive" href="#/camara">Agrgar pregunta</a>
          {{ correcta }}
        </ion-content>
      </ion-view>
    </script>
    
    
    
<!-- Tomar Foto CAMARA, falta unirlo a tomar examen -->


<script id="camara.html" type="text/ng-template">
  
  <ion-view view-title="Tomar Foto">
  <ion-content ng-controller="TomarExamen">
  
    <button class="button button-full button-assertive" ng-click="takePhoto()">
      Tomar Foto
    </button>
    
  </ion-content>
  </ion-view>
  
</script>

<!-- Descargar por QR -->

 <script id="qr.html" type="text/ng-template">
    <ion-view view-title="Scanner">
        <ion-content style="background: #e8ebf1;" ng-controller="qr">
            <div class="sub" style="background-color:yellow; color:black;"> Descargar por QR - Estudiante </div>
            <div class="card">
                <div class="item">
                    <button class="button button-block button-positive" ng-click="scan()">
                        <i class="icon ion-qr-scanner"></i>
                        Escanear QR
                    </button>
                </div>
            </div>
    
            <div class="card">
                <div class="item item-divider">
                    Resultado
                </div>
                <div class="item item-text-wrap">
                    {{ scanResults }}
                </div>
                <button class="button button-block button-positive" ng-click="agregarQR()">
                        Agregar URL
                </button>
            </div>
            
        </ion-content>
</ion-view>
</script>
  
<!-- Descargar por URL -->

<script id="url.html" type="text/ng-template">
    <ion-view view-title="URL">
        <ion-content style="background: #e8ebf1;" ng-controller="qr">
        <div class="sub" style="background-color:pink;"> Descargar URL - Estudiante </div>
            <div class="card">
                <div class="item item-divider">
                    Descargar por URL
                </div>
                <div class="item item-text-wrap">
                  <label class="item item-input">
                    <span class="input-label">URL</span>
                    <input type="text" ng-model="url">
                  </label>
                </div>
                <button class="button button-block button-positive" ng-click="agregarQR()">
                        Agregar URL
                </button>
            </div>
            
        </ion-content>
</ion-view>
</script>


<!-- Examenes Disponibles -->

<script id="examenes.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-positive">
 EvalATi
  <h1 class="title">ESTUDIANTE</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>
    <ion-view view-title="URL">
        <ion-content style="background: #e8ebf1;" ng-controller="TomarExamen">
          <div class="sub" style="background-color:brown;"> Exámenes Disponibles </div>
            <div class="card" ng-repeat="examen in examenes">
              <a href="#/tomarexamen/{{examen.id}}">
              <div class="item item-divider">
                {{ examen.nombre  }}
              </div>
              <div class="item item-text-wrap">
                {{ examen.descripcion  }}
              </div>
              <div class="item item-divider">
                Tema: {{ examen.tema }}
              </div>
              </a>
            </div>
        </ion-content>
</ion-view>
</script>


<!---  TOMAR UN EXAMEN ---->

<script id="tomarexamen.html" type="text/ng-template">
 <ion-header-bar align-title="center" class="bar-positive">
 EvalATi
<h1 class="title">ESTUDIANTE</h1>
</ion-header-bar>
    <ion-view view-title="URL">
        <ion-content style="background: #e8ebf1;" ng-controller="TomarExamen">
          <div class="sub" style="background-color:brown;"> Tomar Examen </div>
          <div class="card" ng-repeat="pregunta in evaluacion.preguntas">
            <div class="item item-text-wrap">
              <h2> Pregunta</h2> {{ pregunta.pregunta }}
            </div>
            <!-- preguntas -->
            <h3> Respuestas</h3>
            <ion-list>

                <ion-radio ng-repeat="res in pregunta.respuestas" ng-model="choice" ng-value="'{{ res.respuesta }}'">{{ res.respuesta }}</ion-radio>
            </ion-list>
            
          </div>
          
          <button class="button button-large button-positive">
            Enviar Examen
          </button>
        </ion-content>
</ion-view>
</script>

<!--FOOTER -->


  <ion-footer-bar align-title="left" class="bar-assertive">
  <h1 class="title">DMD</h1>
  </ion-footer-bar>

</body>

</html>
